@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
 scroll-behavior: smooth;
}

.art-shadow {
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25))
    drop-shadow(9px 16px 30px rgba(0, 0, 0, 0.25));
}

.art-shadow-sm {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    drop-shadow(7px 14px 28px rgba(0, 0, 0, 0.25));
}

.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

.contact-icon {
  @apply mb-12 flex flex-col items-center flex-[100%] max-w-[100%];
}

@media (min-width: 1024px) {
  .contact-icon {
    @apply flex-[50%] max-w-[50%];
  }
}

.room-wrapper {
  @apply fixed top-0 left-0 flex items-center justify-center w-full h-full overflow-hidden bg-white;
}

.room {
  @apply relative w-full h-full;
}

.wall {
  @apply relative h-[80%];
}

.wall-inner-wrap {
  @apply flex justify-end items-center h-full flex-col gap-[26px];
}

.furniture-sofa,
.painting {
  @apply flex items-center justify-center;
}

.add-shadow {
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.35))
    drop-shadow(3px 7px 3px rgba(0, 0, 0, 0.35));
}

.floor {
  @apply bg-[url("/floor-concrete-finish.webp")] bg-center bg-fill absolute bottom-0 left-[50%] translate-x-[-50%] h-[20%] w-full;
}

.floor:before {
  box-shadow: inset 0 26px 36px -14px #000000d9;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  opacity: 0.5;
  height: 200%;
  transform: translateY(0) translate(-50%) perspective(250px) rotateX(65deg);
  transform-origin: 50% 0;
  background-size: auto 420px;
}

.furniture-sofa {
  @apply translate-x-0 translate-y-[30%] z-50;
}


